<form>
    <div>
        <label>Titre du bien</label>
        <input>
    </div>
            
            <div>
                <label>Description courte</label>
                <textarea></textarea>
            </div>
            
            <div>
                <label>Description</label>
                <textarea></textarea>
            </div>
            
            <div>
                <label>Pays</label>
                <!--<select ng-model="SelectPays" ng-options="pays for pays in listPays">-->
            </div>
            
            <div>
                <label>Code postal</label>
                <input>
            </div>
            
            <div>
                <label>Ville</label>
                <input>
            </div>
            
            <div>
                <label>Numero/rue</label>
                <input><input>
            </div>
            
            <div>
                <label>Photo(s)</label>
                <input>
                <button>Parcourir ...</button>
            </div>
            
            <div>
                <label>Capacité</label>
                <input>
            </div>
            
            <div>
                <label>Nombre de WC</label>
                <input>
                <label>Nombre de Salle de bain</label>
                <input>
            </div>
            
            <div >
                <label>Option</label>
                <tr style="height: 200px;">
                    <td *ngFor="let option of options">
                        <input style="margin: 5px;" type="checkbox">{{option.Nom}} 
                    </td>
                </tr>
        </div>
        <input type="submit" value="Ajouter" class="form-control">
</form>